<% column_name_cn = name_cn(column) %>
<% city_value = @city.try(column) %>
<% if column.present? && column_name_cn.present? && city_value.present? && city_value.present? %>
<tr>
  <td width="30%"><%= column_name_cn %></td>
  <td width="30%"><%= make_it_price(number_with_precision(city_value, precision: precision ||= 1)) %></td>
  <td width="40%"><%= @city.position(column)%></td>
</tr>
<% end %>