<% cities = raw @full_named_cities.to_json %>

<form class="control-group" method="get" action="result.html">
  <input id="city_host__input" class="span3" type="text" name="city_host" placeholder="一座城市" data-provide="typeahead" data-source='<%= cities  %>' />
  <input id="city_away__input" class="span3" type="text" name="city_away" placeholder="另一座城市" data-provide="typeahead" data-source='<%= cities  %>' />
  <button class="btn btn-primary btn-wide">对比一下</button>

</form>

<script>

  function isInputValid(obj){
      text = jQuery.trim($(obj).val());
      cities = <%= cities %>
      if(jQuery.inArray(text, cities)!=-1)
      {

          console.log("valid!")
          return true
      }
      else
      {
          console.log(text)
          console.log("invalid")
          return false
      }
  }

  $("input[name='city_host'], input[name='city_away']").bind('change keyup',function (){
      isInputValid(this)

      if(isInputValid($("input[name='city_host']"))&&isInputValid($("input[name='city_away']"))){
          alert('cool')
      }

  });


</script>
