<div style="margin-top: 250px; text-align: center">
  <form class="control-group">
  <input class="span3" type="text" data-provide="typeahead" data-items="4" data-source='["北京","上海","武汉"]' value="北京">
  <input class="span3" type="text" data-provide="typeahead" data-items="4" data-source='["北京","上海","武汉"]' value="洛杉矶">

  <button class="btn btn-primary btn-wide">对比一下</button>

</form>
</div>