<% cities = @full_named_cities.to_json %>
<div style="margin-top: 250px; text-align: center">
  <form class="control-group">
    <input class="span3" type="text" name="city_host" placeholder="Select a city" data-provide="typeahead" data-source='<%= cities  %>' />
    <input class="span3" type="text" name="city_away" placeholder="Select a city" data-provide="typeahead" data-source='<%= cities  %>' />

  <button class="btn btn-primary btn-wide">对比一下</button>

</form>
</div>