
<div style="text-align: center">
  <form class="control-group">
    <input class="span3" type="text" data-provide="typeahead" data-items="4" data-source='["北京","上海","武汉"]' value="北京">
    <input class="span3" type="text" data-provide="typeahead" data-items="4" data-source='["北京","上海","武汉"]' value="洛杉矶">

    <button class="btn btn-primary btn-wide">对比一下</button>

  </form>
</div>

      <div class="demo-row">
        <div class="demo-content-wide">
          <table class="table table-striped">
            <tr>
              <th>对比项目</th>
              <th>北京</th>
              <th>上海</th>
              <th>对比结果</th>
            </tr>
            <tr>
              <td>一公斤牛奶</td>
              <td>5.2 元</td>
              <td>7.8 元</td>
              <td>北京 -35%</td>
            </tr>
            <tr>
              <td>耐克鞋</td>
              <td>5.2 元</td>
              <td>7.8 元</td>
              <td>北京 -35%</td>
            </tr>
            <tr>
              <td>一餐饭</td>
              <td>5.2 元</td>
              <td>7.8 元</td>
              <td>北京 -35%</td>
            </tr>
            <tr>
              <td>牛仔裤</td>
              <td>5.2 元</td>
              <td>7.8 元</td>
              <td>北京 -35%</td>
            </tr>
          </table>
        </div>
      </div>