<% content_for :head do %>
  <script type = 'text/javascript'>
    <%= render :partial => 'index.js' %>
  </script>
<% end %>
<%= 'City Data' %>
<input type = 'hidden' id = 'city_options' data-url = "<%= experiment_cities_city_options_path %>" style = "width: 300px"/>
<div id = 'city_info' data-url = "<%= experiment_cities_city_info_path %>">

</div>
