<div style="height: 20%"></div>

<div style="text-align: center; margin-top: 30px">

  <p style="display: block; margin-bottom: 20px">
    比城网数据来自<a href="http://www.numbeo.com/cost-of-living/">Numbeo</a>用户无私贡献<br>
    欢迎你到<a href="http://www.numbeo.com/cost-of-living/">Numbeo</a>贡献数据。
    <br><br>
    对于网站功能建议<br>可以在新浪微博发私信给 <a href="http://weibo.com/1671380490">@卫星没有卫星</a> <br>或 发邮件到 weixing.cities@gmail.com<br>

  </p>
</div>
