<!DOCTYPE html>
<html>
<head>
  <title>CityVSCity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#fakelink" class="brand fui-flat"></a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li class="active"><a href="#fakelink">城市对比</a></li>
          <li><a href="#fakelink">城市排名</a></li>
          <li><a href="#fakelink">其他</a></li>
        </ul> <!-- /nav -->
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
